@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono), var(--font-spline-sans-mono);
}

@layer base {
  * {
    user-select: none;
    scrollbar-gutter: stable;
  }

  button {
    cursor: pointer;
  }

  /* Firefox Scrollbar */
  @-moz-document url-prefix() {
    * {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
    }
  }

  /* Chromium Scrollbars */
  ::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  ::view-transition-image-pair(root) {
    isolation: auto;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 2;
    clip-path: circle(0px at center);
  }
}

@layer utilities {
  .font-console {
    font-family: var(--font-spline-sans-mono), Consolas, monospace;
  }

  .scrollbar-gutter-auto {
    scrollbar-gutter: auto;
  }
}